<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post" action="main">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="text" name="message" placeholder="input message" />
            <input type="text" name="tag" placeholder="input tag" />
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Messages list:</div>
    <div>
        <form method="post" action="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="text" name="tag" placeholder="tag" />
            <button type="submit">Filter by tag</button>
        </form>
    </div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <i>{{text}}</i>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}

</body>
</html>